@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  min-height: 100vh;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grayish-cyan);
  margin: 0 auto;
}
h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: var(--very-dark-cyan);
  text-align: center;
  margin-bottom: 4rem;
}
.app--container {
  background-color: var(--white);
  border-radius: 1.6rem;
  padding: 3rem;
  display: flex;
  gap: 4rem;
  max-width: 90rem;
}

.bill--container,
.tip--container {
  width: 50%;
}

.bill--container {
  padding: 1rem;
}
.tip--container {
  background-color: var(--very-dark-cyan);
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h4 {
  color: var(--dark-grayish-cyan);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  display: inline-block;
}
.icon--input {
  position: relative;
}
svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;
}

#people,
#bill {
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  font-size: 2.4rem;
  text-align: right;
}
#people::placeholder,
#bill::placeholder {
  color: var(--light-grayish-cyan);
}
.bill--value {
  margin-bottom: 4rem;
}
.select--tip {
  margin-bottom: 4rem;
}
.grid--tip {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}
.tip {
  width: 100%;
}
.tip button {
  width: 100%;
  cursor: pointer;
  font-size: 2.4rem;
  border-radius: 4px;
  padding: 0.8rem 0;
  background-color: var(--very-dark-cyan);
  border: none;
  color: var(--very-light-grayish-cyan);
  transition: background-color 200ms ease-in-out;
}
.grid--tip input[type='number'] {
  width: 100%;
  border-radius: 4px;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
  font-size: 2.4rem;
  text-align: right;
}
.grid--tip input[type='number']::placeholder {
  text-align: center;
  font-size: 2.4rem;
  color: var(--light-grayish-cyan);
}

input[type='number'],
button {
  box-shadow: 4px 4px 8px rgb(51, 51, 51, 0.08);
}

input[type='number'] {
  border: 3px solid transparent;
}

input[type='number']:focus {
  outline: none;
  box-shadow: 0px 0px 20px rgb(51, 51, 51, 0.25);
  border-color: var(--strong-cyan);
}

button:hover,
button:active {
  outline: none;
  color: var(--very-dark-cyan);
  background-color: var(--light-grayish-cyan);
}
.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.error--label {
  display: none;
  text-align: right;
  font-size: 1.4rem;
  color: rgb(205, 19, 9);
  margin-bottom: 1rem;
}
.display--error {
  display: inline-block;
}
.error--border {
  border-color: rgb(205, 19, 9) !important;
}
.tip--amount,
.total--amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tip--container p {
  color: var(--very-light-grayish-cyan);
  font-size: 1.8rem;
  letter-spacing: 1px;
}
.tip--container small {
  color: var(--grayish-cyan);
  font-size: 1.4rem;
}
.tip--container h2 {
  color: var(--strong-cyan);
  font-size: 5rem;
}

.btn--reset {
  width: 100%;
  display: block;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  margin-top: auto;
  transition: all 200ms ease-in-out;
}
.btn--reset:hover {
  background-color: var(--light-grayish-cyan);
}
.btn--reset:disabled {
  background-color: var(--grayish-cyan);
}
.btn--reset:disabled:hover {
  cursor: not-allowed;
}
.attribution {
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 1.6rem;
  text-align: center;
}
.attribution a {
  color: var(--very-dark-cyan);
}
input[type='number']::placeholder {
  color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.btn--pressed {
  background-color: hsl(185, 41%, 84%) !important;
  color: var(--very-dark-cyan) !important;
}

@media (max-width: 800px) {
  .grid--tip input[type='number']::placeholder {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .app--container {
    gap: 2rem;
  }
  .grid--tip input[type='number']::placeholder {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .tip button {
    font-size: 2rem;
  }
  .grid--tip input[type='number']::placeholder {
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  .app--container {
    padding: 2rem;
    gap: 1rem;
  }
  .tip button {
    font-size: 2rem;
  }
  .grid--tip input[type='number']::placeholder {
    font-size: 1rem;
  }

  h4 {
    text-align: center;
  }
  .tip--container h2 {
    font-size: 4rem;
  }
  .tip--container {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  body {
    width: 100%;
    min-height: 100vh;
    gap: 1rem;
  }

  .app--container {
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3rem;
    border-radius: 1.6rem 1.6rem 0 0;
  }
  .bill--container,
  .tip--container {
    width: 100%;
  }
  .grid--tip {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    margin: 0;
    padding: 2rem;
  }
  .tip--container {
    padding: 3rem;
  }
  .bill--value,
  .select--tip {
    margin-bottom: 2rem;
  }
  .grid--tip input[type='number']::placeholder {
    font-size: 2rem;
  }

  #people,
  #bill {
    padding: 0.5rem 1rem;
    font-size: 2rem;
  }
  .attribution {
    display: none;
  }
}
